gunicorn
scikit-learn==0.22.2.post1
nltk==3.4.5
spacy==2.2.4
numpy==1.18.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#egg=en_core_web_sm
Flask==2.3.2
