<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AES System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
</head>
<body>
    <div class="main-page">
        <div id="main-div" class="main-content">
            <div class="top-half">
                <p class="header">Michael's Feldman Bachelor's Project<p>
                <input type="radio" id="radio" checked>
                <label class="type" for="male">Persuasive essay (max 12 point)</label><br>
            </div>
            <div class="bottom_half">
                <div class="bottom-input">
                    <div class="input-div">
                        <form id="input-form" class="input-form" action="{{ url_for('predict')}}" method="post">
                            <div class="textarea_container"><textarea id="input_text" name="input_text" placeholder="Type something!"></textarea></div>
                            <div class="bottom">
                                <div>
                                    <p class="result">Your score:</p>
                                    <p class="result">{{ prediction_text }}</p>
                                </div>
                                <button type="submit" class="submit_button">Get a score</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
